
{% extends '@templates/layouts/admin.twig' %}

{% block title %}Quint{% endblock %}

{% block content %}
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Nem tal치lhat칩 游땠</h2>
        <p class="mb-4 mx-2">Hupsz! A keresett url nem tal치lhat칩 a szerveren.</p>
        <a href="/" class="btn btn-primary">Vissza</a>
        <div class="mt-3">
            <img
                src="/public/assets/dashboard/img/error-404.png"
                alt="page-misc-error-light"
                width="500"
                class="img-fluid"
                data-app-dark-img="illustrations/page-misc-error-dark.png"
                data-app-light-img="illustrations/page-misc-error-light.png"
            />
        </div>
    </div>
</div>
{% endblock %}
